@model LTWNC.Models.DONHANG

@{
    ViewBag.Title = "DeleteDH";
}

<h2>DeleteDH</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYDAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAIDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAIDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHUONGTHUCTHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHUONGTHUCTHANHTOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHINHANHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHINHANHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAIGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAIGH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENNGUOINHAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENNGUOINHAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYGIAOHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYGIAOHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.MAKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.MAKH)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
