@model LTWNC.Models.DONHANG
@*@model IEnumerable<CNPMNC.Models.DONHANG>*@

@{
    ViewBag.Title = "Chi Tiết Đơn Hàng #" + Model.IDDH;
    ViewBag.Icon = "checklist.png";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<style>
    .xacthucorrder, .huyorrder, .xoaorrder {
        padding-top: 15px;
    }

    .xacthucorrder {
        padding-top: 20px;
    }

    .button-xacnhan, .button-huy, .button-xoa {
        position: relative;
        left: 200px;
    }

    .createandedit {
        height: auto;
    }
</style>

<div class="createandedit">

    <div class="row" style="height: auto">

        <div class='text-center alert alert-warning alert-sm' style="display:none;@TempData["displayviss"]">
            @TempData["error_order_delete"]
        </div>
        <div style="border: 1px solid #ccc; background-color: #FFFFFF" class="col-xs-12 col-md-8">

            <div class="editcreate">
                <div class="status_dh" style="padding-top: 15px;padding-bottom: 10px; border-bottom: 1px solid #ccc; font-weight: bold">
                    <img src="~/Content/Images/delivery.png" style="width:22px; padding-bottom: 7px" />
                    @{
                        if (Model.TRANGTHAIGH == "0")
                        {
                            <span>Chờ Xác Nhận</span>
                        }
                        else if (Model.TRANGTHAIGH == "1")
                        {
                            <span>Đã Xác Nhận</span>
                        }
                        else if (Model.TRANGTHAIGH == "2")
                        {
                            <span>Đang Giao</span>
                        }
                        else if (Model.TRANGTHAIGH == "3")
                        {
                            <span>Đã Giao</span>
                        }
                        else if (Model.TRANGTHAIGH == "4")
                        {
                            <span>Đã Hủy</span>
                        }
                    }

                </div>
                <div class="detail_product" style="border-bottom: 1px solid #ccc">
                    <div style="font-weight: bold; padding-top: 15px" class="text-center details_sps">THÔNG TIN SẢN PHẨM</div>
                    <table>
                        @Html.Action("TongTienDonHang", "Management")
                    </table>
                </div>
                @{
                    if (Model.TRANGTHAIGH == "0" || Model.TRANGTHAIGH == "1")
                    {
                        <div class="row xacthucorrder">
                            <div class="col pull-left left-pric">
                                <img src="~/Content/Images/checklist.png" style="width:22px; padding-bottom: 7px" />
                                <span class="text-xacnhan">Xác nhận đơn hàng</span>
                            </div>

                            @if (Model.TRANGTHAIGH == "0")
                            {
                                <div class="col button-xacnhan">
                                    <img src="~/Content/Images/handwriting.png" style="width:22px; padding-bottom: 7px" />
                                    <a class="btn btn-primary btn-sm" href="/Management/XacThucDonHang/@Model.IDDH">
                                        XÁC NHẬN ĐƠN HÀNG
                                    </a>
                                </div>
                            }
                            else if (Model.TRANGTHAIGH == "1")
                            {
                                <div class="col button-xacnhan">
                                    <img src="~/Content/Images/check.png" style="width:22px;" />
                                    <a class="btn btn-primary btn-sm" href="javascript::0">
                                        ĐƠN HÀNG ĐÃ ĐƯỢC XÁC NHẬN
                                    </a>
                                </div>
                            }


                        </div>
                    }
                }
                @{
                    if (Model.TRANGTHAIGH == "0" || Model.TRANGTHAIGH == "4")
                    {
                        <div class="row huyorrder">
                            <div class="col pull-left left-pric">
                                <img src="~/Content/Images/checklist.png" style="width:22px; padding-bottom: 7px" />
                                <span class="text-xacnhan">Hủy đơn hàng</span>
                            </div>

                            @if (Model.TRANGTHAIGH == "4")
                            {
                                <div class="col button-huy">
                                    <img src="~/Content/Images/multiply.png" style="width:22px;" />
                                    <a class="btn btn-warning btn-sm" href="javascript::0">ĐƠN HÀNG NÀY ĐÃ HỦY</a>
                                </div>
                            }
                            else if (Model.TRANGTHAIGH == "0")
                            {
                                <div class="col button-huy">
                                    <img src="~/Content/Images/multiply.png" style="width:22px;" />
                                    <a class="btn btn-warning btn-sm" href="/Management/HuyDonHang/@Model.IDDH">HỦY ĐƠN HÀNG</a>
                                </div>
                            }


                        </div>
                    }
                }
                <div class="row xoaorrder">
                    <div class="col pull-left left-pric">
                        <img src="~/Content/Images/checklist.png" style="width:22px; padding-bottom: 7px" />
                        <span class="text-xacnhan">Xóa đơn hàng</span>
                    </div>
                    <div class="col button-xoa" style="padding-bottom: 10px">
                        <img src="~/Content/Images/delete.png" style="width:22px;" />
                        <a href="/Management/DeleteDH/@Model.IDDH" class="btn btn-sm btn-danger delete_orderss btn_confirm" style="font-size: 14px;">Xóa Đơn Hàng</a>
                    </div>
                </div>
                <div class="row xoaorrder">
                    <div class="col pull-left left-pric">
                        <img src="~/Content/Images/checklist.png" style="width:22px; padding-bottom: 7px" />
                        <span class="text-xacnhan">Theo Dõi Đơn Hàng</span>
                    </div>
                    <div class="col button-xoa" style="padding-bottom: 10px">
                        <img src="~/Content/Images/eye.png" style="width:22px; " />
                        <a href="/Management/Tracking/@Model.IDDH" class="btn btn-sm btn-success delete_orderss btn_confirm" style="font-size: 14px;">Theo Dõi Đơn Hàng</a>
                    </div>
                </div>

            </div>
        </div>
        <div style="border: 1px solid #ccc; background-color: #FFFFFF; height: 550px" class="col-xs-12 col-md-4">
            <div class="order_customer">
                <p style="color: #4568FF; text-align: center; font-size: 26px; font-weight:bold; border-bottom: 1px solid #ccc; padding-top:5px; padding-bottom: 10px" class="name_cus">@Model.TENNGUOINHAN</p>
                <div class="tt-order" style="border-bottom: 1px solid #ccc">
                    <p style="font-weight: bold" class="text_thss">THÔNG TIN KHÁCH HÀNG</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000; ">Email: </span>@Model.KHACHHANG.EMAIL</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000;">Số điện thoại: </span>@Model.KHACHHANG.SDT</p>
                </div>
                <div class="tt-order" style="border-bottom: 1px solid #ccc">
                    <p style="font-weight: bold; padding-top: 7px" class="text_thss">ĐỊA CHỈ GIAO HÀNG</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000;">Địa chỉ: </span>@Model.KHACHHANG.DIACHI</p>
                </div>
                <div class="tt-order" style="border-bottom: 1px solid #ccc">
                    <p style="font-weight: bold; padding-top: 7px" class="text_thss">PHƯƠNG THỨC THANH TOÁN</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000;">Thanh toán: </span>@Model.PHUONGTHUCTHANHTOAN</p>
                </div>
                <div class="tt-order" style="border-bottom: 1px solid #ccc">
                    <p style="font-weight: bold; padding-top: 7px" class="text_thss">NGÀY ĐẶT ĐƠN HÀNG</p>
                    <p style="color: #4568FF" class="texts-order"><span style="color:#000;">Thời gian: </span>@Model.NGAYDAT</p>
                </div>
                <div class="tt-order">
                    <p style="font-weight: bold; padding-top: 7px;" class="text_thss">TRẠNG THÁI ĐƠN HÀNG</p>
                    @{
                        if (Model.TRANGTHAIGH == "0")
                        {
                            <span style="color: red; font-weight:bold" class="statys">Chờ Xác Nhận</span>
                        }
                        else if (Model.TRANGTHAIGH == "1")
                        {
                            <span style="color: red; font-weight:bold" class="statys">Đã Xác Nhận</span>
                        }
                        else if (Model.TRANGTHAIGH == "2")
                        {
                            <span style="color: red; font-weight:bold" class="statys">Đang Giao</span>
                        }
                        else if (Model.TRANGTHAIGH == "3")
                        {
                            <span style="color: red; font-weight:bold" class="statys">Đã Giao</span>
                        }
                        else if (Model.TRANGTHAIGH == "4")
                        {
                            <span style="color: red; font-weight:bold" class="statys">Đã Hủy</span>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>

