@model IEnumerable<LTWNC.Models.DANHMUC>

@{
    ViewBag.Title = "Quản Lý Danh Mục";
    ViewBag.Icon = "categories.png";
    ViewBag.Current = "QuanLyDanhMuc";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">THÔNG TIN DANH MỤC</h2>
    <p>
        @Html.ActionLink("TẠO MỚI", "Create", null, new
        {
            @class = "btn btn-primary"
        })
    </p>
    <table class="table">
        <tr>
            <th>
                MÃ DANH MỤC
            </th>
            <th>
                TÊN DANH MỤC
            </th>
            <th>
                LỆNH
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDDANHMUC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENDANHMUC)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</div>

